 <html><head>
  <title>DominKey Extension</title>
  <link rel="stylesheet" type="text/css" href="./login.css">
</head>
 <body style="margin-top: 70px; text-align:center; vertical-align: middle">
    <div class="form-signin" style="border-radius: 25px; background-color: #757575;">
      <img src="../../logo/dominKey_logo_white.png" alt="dominKey_logo">
      <input style="margin-top: 20px;" type="email" id="inputMail" class="form-control" placeholder="Indirizzo email" required autofocus >
      <input style="margin-top: 5px; margin-left: 4px" type="password" id="inputMasterkey" class="form-control" placeholder="Masterkey" required>
      <br></br>
      <a id="loginButton" class="button raised" type="submit">Log in</a>
      <br></br>
      <a style="margin-right: 4px; color: white" href="http:/localhost:4200/registration">Non sei registrato?</a>
    </div>
  </body>
  <script src="login.js"></script>
 </html>
  