<html>

<head>
  <link rel="stylesheet" type="text/css" href="./popup.css">
</head>

<body>
  <img src="../../logo/dominKey_logo.png" alt="dominKey_logo" style="border-bottom: 1px dotted gray;">


  <div id="description" class="description">
    Effettua il login per iniziare ad usare DominKey
  </div>

  <div class="buttons">
    <a id="loginButton" class="button raised">Login</a>
    <a id="siteButton" class="button raised" href="localhost:4200/" target="_blank">Sito</a>
  </div>
</body>
<script src="./popup.js"></script>

</html>